!!! 5
%html
  %head
    %title flux_tutorial
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    %link{ href: '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel: 'stylesheet' }/
    = javascript_include_tag 'application'
    = javascript_include_tag '/assets/javascripts/boot.js'
    = csrf_meta_tags
  %body
    -# react側でcurrent_userの値を利用するためのもの
    - if current_user
      #current_user-name{data: current_user.name}
      #current_user-id{data: current_user.id}
    - else # current_userが空だった場合の参照先のエラーを防ぐため
      #current_user-name
      #current_user-id

    - if user_signed_in?
      = render 'layouts/header'
    .container
      = yield
